{% extends 'partials/base.html' %}

{% block content %}


<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="box">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="https://via.placeholder.com/128" alt="Profile picture">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{player.user}}</p>
                            <p class="subtitle is-6">{{player.character}}</p>
                        </div>
                        <div>
                            <p class="is-size-1 has-text-weight-bold ml-5">{{player.player_rank}}<small class="is-size-5"> rank</small></p>
                        </div>
                    </div>

                    <div class="content">
                        <p><strong>Bio:</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</p>
                    </div>

                    <div class="columns is-mobile is-multiline">
                        <div class="column is-4">
                            <div class="box has-text-centered">
                                <p class="title is-5">Skills</p>
                                <p class="subtitle is-3">{{skill}}</p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="box has-text-centered">
                                <p class="title is-5">Mana</p>
                                <p class="subtitle is-3">{{player.mana}}</p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="box has-text-centered">
                                <p class="title is-5">Rank</p>
                                <p class="subtitle is-3">{{player.player_rank}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p><strong>Player Skill:</strong></p>
                        {% for card in card %}
                        <ul>
                            <li style="line-height: 0.4;">{{card.name}}</li>
                        </ul>
                        {% endfor %}
                    </div>

                    <div class="content">
                        <p><strong>Recent Activity:</strong></p>
                        <ul>
                            <li>Played "Game Title" - 2 hours ago</li>
                            <li>Unlocked "Achievement Name" - 3 days ago</li>
                            <li>Joined "New Guild" - 1 week ago</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}